<% @page_title = t('about.page_title') %>

<h1 class="hptitle"><%= t('about.header') %></h1>
<h2 class="bs4-visually-hidden">Main content</h2>

<div class="hpcontent mb-5">
  <h3>What is this site?</h3>
  <p>
    This site, originally known as the PACSCL Finding Aids site, was developed by the Philadelphia Area Consortium of
    Special Collections Libraries (PACSCL) and the University of Pennsylvania Libraries during a consortial processing
    project. The initial group of finding aids provided on this site result from the two CLIR funded Hidden Collections
    projects beginning in July 2009. Recognizing that increasing the quantity and scope of finding aids would better
    serve the research community, PACSCL opened the site to a larger group of repositories.
  </p>

  <p>
    As a result, this site now hosts a large number of finding aids for smaller institutions in the region prepared
    through the Historical Society of Pennsylvania's
    <a href="https://hsp.org/historical-heritage-organizations-0/hidden-collections-initiative-for-pennsylvania-small-archival-repositories">
      Hidden Collections Initiative for Pennsylvania Small Archival
      Repositories</a>, as well as several other regional archives, libraries, and historical societies.
  </p>

  <p>
    It is important to note that these are not always the only finding aids in existence for participating repositories.
    Other finding aids may be available via individual repositories.
  </p>

  <p>
    Created and hosted by the University of Pennsylvania Libraries, this union catalog presents finding aids (or guides
    to the collections) and not facsimiles of manuscripts, images, and other archival material. Unless specifically
    noted, the holdings described within the guides are physically available in the respective reading rooms of the
    participating repositories, and not digitally available through the web. Discovery through faceted searching can be
    limited to a single repository or include all participating repositories. Printer friendly versions of the finding
    aids are available from this site.
  </p>

  <p>
    Individual repositories are responsible for their content. If you have a question about a collection, use the
    contact link on the search results to ask a reference librarian.
  </p>

  <h3>How do I update my finding aids on this site?</h3>
  <p>
    When looking at a finding aid, click on the “Contact us” button. If the email address is small_repositories@hsp.org,
    that means PACSCL is currently hosting your finding aids. If you want to make changes to your PACSCL-hosted finding
    aids, contact <a href="mailto:director@pacscl.org">the PACSCL director</a> and your email will be directed
    appropriately. All finding aids on the PACSCL website are in EAD-XML format. If you are comfortable editing EAD-XML
    files yourself, you may request copies of the files, make your changes, and send them back. If not, you may send
    line edits or an annotated document with desired changes via email. If changes are to be made to an inventory list,
    a spreadsheet with columns for each data field (title, start year, end year, top container, etc.) is preferred. It
    is better to consult in advance about how to set up your spreadsheet.
  </p>

  <p>
    Drexel University College of Medicine has been hosting a small number of other repositories, and these should contact
    <a href="mailto:CoM_Archives@drexel.edu">Drexel Medicine Arcives</a> about making changes to their content.
    (Repositories may include: Chester County Historical Society, Independence Seaport Museum, National Archives and
    Records Administration, Pennsylvania Horticultural Society, Philadelphia City Archives, Thomas Jefferson University
    (Guttman Library files), St. Joseph’s University, Union League of Philadelphia, and Wagner Institute of Science).
  </p>

  <p>
    Other repositories are self-hosting, and you should consult with your colleagues.
  </p>

  <p>
    For self-hosted finding aids: if you would like to change your contact email address, update your web folder for
    harvesting, or set up direct harvesting from ArchivesSpace via API, reach out to
    <a href="mailto:hmengel@pobox.upenn.edu">Holly Mengel</a>.
  </p>

  <h3>How do I add my library/archives and our finding aids to this site?</h3>

  <p>
    You do not need to be a member of PACSCL to post content to this site. However, if your organization is not
    currently a member of PACSCL, please contact <a href="mailto:director@pacscl.org">the PACSCL director</a> to
    determine whether you are eligible. Generally, any organization in the Philadelphia area that has archival
    collections may post their finding aids to this site, provided that the organization is a non-profit and the
    collections are open to the public.
  </p>

  <p>
    If you use ArchivesSpace, and want to directly connect your ASpace instances with the PACSCL Site Harvester (no
    need for a web folder), please contact <a href="mailto:hmengel@pobox.upenn.edu">Holly Mengel</a>. She will put you
    in touch with UPenn developers, who will provide you with specific guidelines.  In order for UPenn’s developers to
    complete this process, you will probably need to work with your ArchivesSpace host (usually Atlas, Lyrasis, or
    on-site developers). They will need to provision API access from UPenn’s IP range; you will also need to create a
    read-only user in ArchivesSpace and send the credentials to UPenn. Instructions for each of these steps exist and
    can be shared once you begin your conversation with the UPenn developers.
  </p>

  <p>
    Another option is to post your finding aids in EAD-XML format to be displayed on the site. (Note there are some
    additional assumptions about the formatting of the EAD, so if your finding aids were generated outside
    ArchivesSpace or Archivists’ Toolkit, you may need to make some changes to the formatting.) To self-host your
    finding aids, they must be placed in a web accessible folder that includes nothing beyond the EAD files, and either
    an index.html file or has the "directory listing" functionality enabled for the folder. More details about setting
    up a web folder are available upon request. Please contact <a href="mailto:hmengel@pobox.upenn.edu">Holly Mengel</a>
    to begin this process.
  </p>

  <p>
    If your institution is not able to self-host, PACSCL is able to host the finding aids for you. (It is still
    necessary that these be in EAD-XML format.) Please contact
    <a href="mailto:director@pacscl.org">the PACSCL director</a> with any questions.
  </p>
</div>



<div class="border mb-5">
  <div class="m-4">
    <h3>Special thanks</h3>
    <p>
      The Philadelphia Area Archives redesign of 2022 was completed by Michael Kanning, Carla Galarza, Nikitas Tampakis,
      Leslie Vallhonrat and Andrew Kimball, with guidance from Holly Mengel. Special thanks to the original creators of
      the site: the University of Pennsylvania DLA for making this site a reality, and especially: Maureen Callahan,
      Michelle Chesner, Delphine Khanna, Patty Lynn, Rachelle Nelson, Nancy Shawcross, Jordon Steele, and Leslie
      Vallhonrat. Special thanks to dedicated regional archivists for continuing to add content and who put their
      expertise and energies into the task of making Philadelphia's archival material more accessible, as well as the
      University of Pennsylvania Library Technical Services team who maintain the operation of the site.
    </p>

    <p>
      <a href="https://www.clir.org/">
        <img src="<%= image_url('icons/CLIR24.png') %>" alt="CLIR Homepage" class="inline pr-2">
      </a>
      This site has been made possible through a <a href="https://www.clir.org/">CLIR Hidden Collections</a> grant.
    </p>

    <p>
      <a href="https://pacscl.org/">
        <img src="<%= image_url('icons/pacscl-logo.png') %>" alt="PACSCL Homepage" class="inline" width="30px">
      </a>
      This site was developed collaboratively with the <a href="https://pacscl.org/">Philadelphia Area Consortium of
      Special Collections Libraries (PACSCL)</a>.
    </p>
  </div>
</div>