<header class="sitebrand">
  <h1 class="sitename">Philadelphia Area Archives Research Portal (PAARP)</h1>
</header>

<div class="navbar-search navbar navbar-light bg-light" role="navigation">
  <div class="<%= container_classes %>">
    <%= render_search_bar  %>
  </div>
</div>
