# Ignore ansible galaxy roles
ansible/roles/atosatto.docker-swarm
ansible/roles/souin
ansible/roles/solr
ansible/roles/traefik
ansible/roles/zookeeper
ansible/roles/zoonavigator

# exclude ansible collections
ansible/collections

# Ignore everything in the vagrant dir except the Vagrantfile
vagrant/*
!vagrant/Vagrantfile

# Dont track IDE project settings
.idea

#Don't track Mac files
*.DS_Store
* alias
