---
finding_aid_discovery_build_docker_image: false
finding_aid_discovery_docker_image_name: "finding_aid_discovery"
finding_aid_discovery_docker_image_tag: "{{ image_tag }}"
finding_aid_discovery_rails_env: "staging"
finding_aid_discovery_replicas: 2
finding_aid_discovery_solr_url: "http://finaid-stg01.library.upenn.int/solr/finding-aid-discovery"
finding_aid_discovery_url: "findingaids-staging.library.upenn.edu"

# See roles/finding_aid_discovery/defaults.main.yml
#finding_aid_discovery_versioned_secrets:
