<ul class="nav">
  <li class="nav-link">
    <%= link_to t('admin.menu.homepage'), root_path %>
  </li>
  <li class="nav-link">
    <%= link_to t('admin.menu.users'), users_path %>
  </li>
<!--  <li class="nav-link">-->
    <%#= link_to t('admin.menu.endpoints'), endpoints_path %>
<!--  </li>-->
  <li class="nav-link">
    <%= link_to t('admin.menu.status'), endpoints_status_path %>
  </li>
</ul>

<hr>