<%# Overridden from Blacklight 8.12.3 to to render close icon in Bootstrap 4. This should be removed once we
upgrade to Bootstrap 5. %>
<%# TODO: remove once upgraded to Bootstrap 5 %>
<div class="flash_messages">
  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type == 'notice' ? 'info' : 'warning' %>">
      <%= msg %>
      <a class="close" data-dismiss="alert" data-bs-dismiss="alert" href="#">&times;</a>
    </div>
  <% end %>
</div>
