<%# Override of Blacklight partial from 7.x. 8.x file now renders the configured HeaderComponent. We've made many header
    changes as part of our initial design. TODO: add a local HeaderComponent %>

<header class="sitebrand">
  <h1 class="sitename"><a href="/">Philadelphia Area Archives</a></h1>
</header>

<%= content_tag :div, class: 'navbar-search navbar navbar-light bg-light', role: 'navigation', aria: { label: t('blacklight.search.header') } do %>
  <div class="<%= container_classes %>">
    <%= render((blacklight_config&.view_config(document_index_view_type)&.search_bar_component || Blacklight::SearchBarComponent).new(
      url: search_action_url,
      advanced_search_url: search_action_url(action: 'advanced_search'),
      params: search_state.params_for_search.except(:qt),
      autocomplete_path: search_action_path(action: :suggest))) %>
  </div>
  <% if user_signed_in? %>
    <%= button_to "Sign Out", destroy_user_session_path, class: 'btn btn-secondary' %>
  <% end %>
<% end %>
