.fa-cards--capped {
  grid-template-columns: repeat(2, 1fr);

  & .pl-card { display: none; }
  & .pl-card:nth-child(-n+4) { display: flex; }

  @media (min-width: 1080px) {
    grid-template-columns: repeat(3, 1fr);
    & .pl-card:nth-child(-n+6) { display: flex; }
    & .pl-card:nth-child(n+7) { display: none; }
  }
}