<div class="card my-2">
  <div class="card-body">
    <%# Reducing heading size lower in the hierarchy. %>
    <div class="card-title">
      <div class="row">
        <div class="col-sm-9 col-lg-10">
          <%= content_tag "h#{[level + 3, 6].min}", sanitize(title) %>
        </div>

        <div class="col-sm-3 col-lg-2">
          <% containers.each do |container| %>
            <span class="badge badge-secondary"><%= "#{container[:type]} #{container[:text]}" %></span>
          <% end %>
        </div>
      </div>
    </div>

    <% descriptive_data.each do |description| %>
      <%= render EadMarkupTranslationComponent.new(node: description) %>
    <% end %>

    <%= render CollectionsComponent.new(node: node, level: level + 1) %>
  </div>
</div>