---
finding_aid_discovery_versioned_secrets:
  sidekiq_pro_credentials:
    vault: dld_sidekiq_pro_vault_values
    vault_key: credentials
  rails_master_key:
    vault: finaids_vault_values
  slack_notification_email_address:
    vault: finaids_vault_values
  honeybadger_api_key:
    vault: finaids_vault_values
