<section class="pl-padding-y-2xl">
  <div class="pl-viewport-margins">
    <h2 class="pl-margin-b-m">Collection guides</h2>
    <p class="pl-line-length pl-margin-b-m">
      A collection guide, sometimes called a finding aid, describes a single archival collection.
      It tells you where the collection came from, what's inside, and how it's arranged.
    </p>

    <ol class="fa-cards fa-cards--capped">
      <% @guides.each do |guide| %>
        <li class="fa-cards__card">
          <h3 class="fa-cards__card-heading">
            <%= link_to guide.name, guide_search_url(guide), class: 'fa-cards__card-link' %>
          </h3>
          <p class="fa-cards__card-sub"><%= guide.collection %></p>
        </li>
      <% end %>
    </ol>
  </div>
</section>
