<section class="fa-regional-partnership" aria-labelledby="regional-partnership-heading" data-turbo="false">
  <div id="partnership-map"
       class="fa-regional-partnership__map"
       data-controller="map">
  </div>

  <%= render Homepage::RepositoryCardsComponent.new(repos: @repos) %>
</section>
