$navy:    #001f5b !default;
$light-blue: #ecf3f8;
$wdglight-blue: #f5f9fc;
$button-color: #2c60c0;
$bright-blue: #4078bc;
$link-color: #0778b3;
$alert-color: #faf0ae;
$title-serif: 'Gentium Basic', 'Times New Roman', serif;
$title-sans: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
$body-sans: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$font-size-base: 1.6rem !default;
