// adapted from Blacklight's _bootstrap_overrides.scss .facet_field_heading
.collapsable-toggle {
  &::after {
    content: "❯";
    float: right;
    transform: rotate(270deg);
    transition: transform 0.1s ease;
  }

  &.collapsed {
    &::after {
      transform: rotate(90deg);
      transition: transform 0.1s ease;
    }
  }
}

// Styling for collection inventory cards
.collection-inventory-card {
  .card-title {
    margin-bottom: 0rem;
  }

  &.end-collection {
    border-radius: 0;
    border: 0;

    &.dark {
      background-color: #f8f9fa; // Should be using a CSS/SCSS variable here.
    }

    .card-body {
      padding: .75rem;
    }
  }
}

.collection-inventory-card.end-collection {
  border-radius: 0
}
