@import "_mixins";
@import "_variables";

html {
  font-size: 62.5%;
}
body, .btn {
  font-size: $font-size-base;
}
body, .facets-heading, h6, .h6, .facet-field-heading {
  font-family: $body-sans;
  line-height: 1.6;
  font-size: $font-size-base;
}

#requestingInfo {
  .instructions {
    font-size: 1.2rem;
  }
  #submit-request:disabled {
    cursor: not-allowed;
  }
}

#aeonRequestForm {
  .form-control-plaintext, .form-control {
    font-size: 16px;
  }
  .form-check-label {
    padding-left: 10px;
  }
}

a.catalog_startOverLink,
a.catalog_startOverLink:visited,
h1.sitename a,
a:visited {
  color: #fff;
  &:hover {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.1rem;
  }
}
a, a:visited {
  color: $link-color;
}
.btn-light:hover {
  color: #000;
  background-color: transparent !important;
  border: none;
  box-shadow: none;
}
.btn-light:focus, .btn-light.focus {
  color: #000;
  background-color: transparent;
  border: dotted 1px #000;
  box-shadow: none;
}
/*container*/
.container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 150rem;
  @media (min-width: 1200px) {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.navbar + .container {
  padding-top: 4.5rem !important;
}

/*reusable*/
.collapsable-toggle {
  &::after {
    content: "❯";
    float: right;
    transform: rotate(270deg);
    transition: transform 0.1s ease;
  }

  &.collapsed {
    &::after {
      transform: rotate(90deg);
      transition: transform 0.1s ease;
    }
  }
}



/*facets*/
.facet-limit-active {
  border-color: #ccc !important;
  .card-header {
    background-color: rgba(0, 0, 0, 0.03) !important;
  }
}
.facet-values li .selected {
  color: #000 !important;
}
@media (min-width: 992px) {
  section#content.col-lg-9 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  section#sidebar.page-sidebar.col-lg-3 {
    flex: 0 0 30%;
    max-width: 30%;
  }
}
@media (min-width: 1200px) {
  section#content.col-lg-9 {
    flex: 0 0 72%;
    max-width: 72%;
  }
  section#sidebar.page-sidebar.col-lg-3 {
    flex: 0 0 27%;
    max-width: 27%;
  }
}

.facet-limit {
  margin-bottom: 1.6rem;
}
.facet-field-heading {
  border-bottom: 0;
  button.btn,
  button.btn.p-2 {
    font-weight: normal;
    padding: .8rem .4rem .8rem 0 !important;
    &::before {
      content: "❯";
      float: left;
      transform: rotate(90deg);
      display:block;
      height: 2.4rem;
      width: 3rem;
      position: relative;
      top: .75rem;
      padding: 0 1rem 0 .5rem;
      left: 0;
    }
    &::after {
      content: "";
    }
    &.collapsed {
      border-bottom: 0;
      &::before {
        transform: rotate(0deg);
        transition: transform 0.1s ease;
        width: auto;
        padding: 0 1.8rem 0 .5rem;
        top: -.1rem;
        left: .6rem;
      }
      &::after {
        content: "";
      }
    }
  }
}

// Bootstrap 4 specific visually-hidden class.
//
// This class was renamed from visually-hidden to bs4-visually-hidden because Bootstrap 5 defines its own
// visually-hidden class. Blacklight supports both Bootstrap 4 and 5 so there are places
// where the visually-hidden class is used that are not intended for applications that use Boostrap 4.
.bs4-visually-hidden {
    @include visually-hidden;
}
.bg-light {
  background-color: $light-blue !important;
}
.btn-primary {
  background-color: $button-color;
  border-color: $button-color;
}
.no-list-style {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
/*header*/
header.sitebrand {
  background: $navy;
  color: #fff;

  padding: 2rem;
  @media (min-width: 768px) {
    padding: 3rem;
  }
  @media (min-width: 992px) {
    padding: 4.2rem 3rem;
  }

  .sitename {
    font-family: $title-serif;
    text-align: center;
    font-size: 2.8rem;
    @media (min-width: 600px) {
      font-size: 3.2rem;
    }
    @media (min-width: 992px) {
      font-size: 4.35rem;
    }
  }
}
/*search*/
.navbar-search.navbar {
  padding: 3rem 2rem;
}
.search-query-form {
  margin: 0 auto;
}
.input-group > .input-group-append > .search-btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: .375rem .8rem .375rem 1rem;
}
input#q.search-q.q.form-control.rounded-left {
  height: 4.1rem;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  font-size: 1.6rem;
}
.submit-search-text {
  @include visually-hidden;
}
/*footer*/
footer {
  background: $navy;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: .09rem;
  color: #fff;
  line-height: 1.6;
  .footerliner {
    max-width: 150rem;
    margin: 0 auto;
    padding-top: 1.5rem;
    @media (min-width: 992px) {
      padding-top: 0;
    }
  }
  a, a:visited {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  .delivered {
    font-style: oblique;
  }
  .logo {
    display: block;
    margin-top: .5rem;
    img {
      width: 21.7rem;
    }
  }
  .copyright {
    margin-top: 3.6rem;
  }
  .vlist {
    padding: 1.5rem 3rem;
    @media (min-width: 576px) {
      width: 49.5%;
      float: left;
      padding: 1.5rem 3rem;
    }
    @media (min-width: 992px) {

      width: 23.5%;
      padding: 3rem;
      &.branding {
        width: 27.5%;
      }
    }

    @media (min-width: 1200px) {
      padding: 3rem;
    }
    a {
      text-transform: uppercase;
    }
    li {
      margin-top: 1.3rem;
    }
  }
  .hlist {
    border-top: solid 1px #bbbfcf;

    margin: 0 3rem;
    padding: 3rem 0;
    @media (min-width: 576px) {
      height: 11.5rem;
    }
    @media (min-width: 768px) {
      height: 7.5rem;
    }
    li {
      padding: 1rem 3rem 0 0;
      @media (min-width: 576px) {
        float: left;
        width: 49.5%;
        padding: 0 3rem;
        &:first-child {
          padding-left: 0;
        }
        &.acc {
          width: 100%;
          padding: 1rem 3rem 0 0;
        }
      }
      @media (min-width: 768px) {
        width: auto;
        padding: 0 3rem;
        &.acc {
          width: auto;
          padding: 0 3rem;
        }
      }
    }
  }
}
/*homepage*/
.hptitle {
  font-family: $title-serif;
  text-align: center;
  font-size: 2.5rem;
  @media (min-width: 400px) {
    font-size: 3.5rem;
  }
}
.navbar + .container {
  padding-top: 5.1rem !important;
}
.hpcontent {
  padding-top: 2.8rem;
}
.hplinks {
  margin-top: 4rem;
  li {
    float: left;
    text-transform: uppercase;
    width: 36%;
    &.all {
      width: 28%;
    }
  }
}
/*results*/
#content #sortAndPerPage {
  border-bottom: none;
  padding-bottom: 0;
}
#documents.documents-list {
  article.document {
    border-top: 1px dashed #999;
    border-bottom: none;
    margin-top: 0;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    .document-main-section {
      header.documentHeader.row {
        margin-left: 3.5rem;
        margin-right: 0;
        text-indent: -3.5rem;
        h3.document-title-heading {
          padding-left: 0;
          font-size: 2.2rem;
          margin-bottom: .6rem;
          font-weight: normal;
          .archive-box-icon svg.bi.bi-archive {
            height: 2.4rem; width: 2.4rem;
            margin-right: .9rem;
          }
        }
      }

      dl.dl-invert.row {
        margin-left: 3.9rem;
        dt.col-md-3 {
          text-align: left;
          @include visually-hidden;
          &.blacklight-extent_ssi {
            @include visually-hidden-off;
            @include inline-block;
            width: 5.5rem;
            font-style: oblique;
            margin-top: .5rem;
            color: #000;
            flex: 0 0 auto;
          }
        }
        dd.col-md-9 {
          text-align: left;
          flex: 0 0 auto;
          max-width: 100%;
          display:block;
          padding-left: 0;
          margin-top: .5rem;
        }
        dd.col-md-9.blacklight-extent_ssi {
          margin-top: .5rem;
          @include inline-block;
          display: inline-block !important;
          width: 75%;
        }
      }
      dl + p {
        font-variant: small-caps;
        font-size: 1.8rem;
        font-family: Arial, sans-serif;
        line-height: 1.4;
        background-image: image-url("gov-docs-bldg.svg");
        background-repeat: no-repeat;
        background-size: 25px 25px;
        padding-left: 3.7rem;
        margin-left: 3.9rem;
        &.upenn {
          background-image: image-url("upenn-shield.svg");
        }
        &.princeton {
          background-image: image-url("princeton-shield.svg");
        }
      }

    }
  }
}
div.row.record-padding {
  border-top: 1px dashed #999;
  border-bottom: none;
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  margin-left: 0;
  .col-md-12 {
    padding-left: 0;
  }
  .page-link {
    color: $link-color;
    padding: 0.8rem 1rem;
  }
  .page-item.active .page-link {
    background-color: $button-color;
    border-color: $button-color;
    color: #fff;
  }
}

/*overview*/
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #000;
  background-color: #fff;
  border: none;
  border-bottom: solid 3px $navy;
}
.nav-tabs .nav-item {
  width: 46.5%;
  margin-right: 3%;
  @media (min-width: 400px) {
    width: auto;
  }
}
.nav-tabs .nav-link {
  margin-bottom: 0;
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1.6rem .5rem;
  font-size: 1.5rem;
  @media (min-width: 400px) {
    margin-right: 2rem;
  }

  @media (min-width: 550px) {
    margin-right: 6rem;
    font-size: 1.8rem;
    padding: 1.6rem 1rem;
  }
  @media (min-width: 600px) {
    margin-right: 6rem;
    font-size: 2.1rem;
    padding: 1.6rem 1rem;
  }
}
header h1.index_title.document-title-heading {
  font-family: $title-serif;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
    @media (min-width: 400px) {
      font-size: 3.5rem;
    }
}
#overview,
#inventory {
  margin-top: 3rem;
  p.repository-info {
    font-variant: small-caps;
    font-size: 1.8rem;
    font-family: Arial, sans-serif;
    line-height: 1.4;
    background-image: image-url("gov-docs-bldg.svg");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    padding-left: 3.7rem;
    &.upenn {
      background-image: image-url("upenn-shield.svg");
    }
    &.princeton {
      background-image: image-url("princeton-shield.svg");
    }
  }
  p.access-clarification {
    margin-top: 2rem;
    i {
      font-style: normal;
    }
  }
}

#overview {
  h3 {
    margin-top: 2rem;
    button.collapsable-toggle,
    button.collapsable-toggle.btn-light:hover {
      background-color: $bright-blue !important;
      color: #fff;
      padding: 2.8rem 2rem 3rem 3.9rem;
      font-family: $title-sans;
      font-size: 1.5rem;
      font-weight: normal;
      width: 100%;
      text-align: left;
      @media (min-width: 400px) {
        font-size: 2rem;
      }
      @media (min-width: 500px) {
        font-size: 2.3rem;
      }
      &::after {
        content: ' ';
        display:none;
      }
      &::before {
        float: left;
        transform: rotate(90deg);
        transition: transform 0.1s ease;
        content: image-url("collapsearrow-right-fff.svg");
        height: 2.3rem;
        width: 2.3rem;
        margin-right: 1.4rem;
        position: relative;
        top: .2rem;
        @media (min-width: 500px) {
          top: .8rem;
        }
      }
      &.collapsed {
        background-color: transparent !important;
        border-bottom: solid 2px $bright-blue;
        color: #000;
        &::before {
          transform: rotate(0deg);
          content: image-url("collapsearrow-right-000.svg");
          top: .2rem;
        }
      }
    }
  }
  h3 + div {
    border: solid 2px #4078bc;
    padding: 2rem;
    margin-top: -.7rem;
    h5 {
      font-size: 1.6rem;
      font-weight: bold;
      color: #000;
      margin: .33rem 0 0;
    }
  }
  dl.document-metadata.dl-invert.row {
    dt.col-md-3,
    dd.col-md-9 {
      text-align: left;
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
      display:block;
    }
    dt.col-md-3,
    dt {
      font-weight: bold;
      color: #000;
      margin-top: .33rem;
    }
  }
}
.show-page-links {
  margin: 3rem auto 0;
  padding-bottom: 3rem;
  @media (min-width: 992px) {
    width: 992px;
    max-width: 100%;
  }
  li {
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    &.print-all {
      button {
        color: $link-color;
        background: transparent;
        box-shadow:none;
        border: none;
        text-transform: uppercase;
      }
    }
    @media (min-width: 576px) {
      width: 50%;
      float: left;
    }
  }
}

/*request item checkbox styles */
.dark label.custom-control-label.request-checkbox-label {
  color: #f0f0f0;
}
label.custom-control-label.request-checkbox-label {
  color: #fff;
  font-size: .9rem;
  line-height: 2.1rem;
}
.custom-control-label::before {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 7.7rem !important;
  height: 2.4rem;
  content: "Add" !important;
  background-color: #fff;
  border: #000 solid 1px;
  border-radius: 1.3rem !important;
  font-size: 1.2rem;
  text-align: center;
  padding-top: .2rem;
  text-transform: uppercase;
  color: #000;
}
.dark .custom-control-label::before {
  background-color: #f0f0f0;
}
.custom-control-label::after {
  display: none;
}
.custom-control-input:disabled~.custom-control-label::before {
  background-color: transparent;
}
.custom-control-label::before, .custom-file-label, .custom-select {
  transition: none;
}
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #4078BC;
  background-color: #4078BC;
  content: "Added" !important;
}
.collection-inventory-card.level-1.end-collection {
  .custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    content: "Add" !important;
    background-color: $bright-blue;
    border: #fff solid 1px;
    color: #fff;
  }
  .custom-control-label,
  &.light .custom-control-label,
  &.dark .custom-control-label {
    color: $bright-blue;
    margin: 3rem -3rem 0 0;
    &::before {
      background-color: $bright-blue;
    }
  }
  .custom-control-input:checked~.custom-control-label::before {
    color: $bright-blue;
    background-color: #fff;
    content: "Added" !important;
  }
}


/* end request checkbox styles */

.badge-secondary {
  color: #000;
  background-color: transparent;
  border-left: dotted 2px #888;
  padding-left: 1rem;
  border-radius: 0 !important;
}
/*inventory*/
// Styling for collection inventory cards
.collection-inventory-card {
  .card-title {
    margin-bottom: 0;
  }

  &.end-collection {
    border-radius: 0;
    border: 0;
    .card-body {
      padding: .9rem .4rem .9rem .9rem;
    }
  }
}

.collection-inventory-card.end-collection {
  border-radius: 0
}

#inventory {
  .card.collection-inventory-card.level-1.end-collection {
      padding: 0!important;
      border: solid 2px $bright-blue!important;
      background: #fff!important;
      > .card-body {
        padding-bottom: 0;
      }
      .item-title {
        color: #fff;
        background-color: $bright-blue !important;
        margin: -1rem -.5rem 0 -1rem;
        .col {
          font-size: 2.3rem;
          padding: 3.7rem 0 1.9rem 3.9rem;
          margin: -1rem -.5rem .5rem .5rem;
        }
        .col-sm-3.col-md-2 {
          padding: 3.7rem 1.5rem 0 0;
          margin: -1rem 0 .5rem .5rem;
          span.float-right span.badge.badge-secondary {
            color: #fff;
            &:nth-child(2) {
              border-left: dotted 2px #fff;
            }
          }
        }
      }
      .card-records,
      .collapse.show.card-records[id^="collection"] {
        padding-left: 1rem;
        div:first-child,
        p:first-child {
          padding-top: 1rem;
        }
      }
  }
  .end-collection div.card-body [id^="collection"].collapse.show.card-records {
    border: none;
    height: auto !important;
    padding: 0;
  }
  h3 {
    color: #000;
    padding: 2.8rem 2rem 3rem 0;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 2.6rem;
    font-weight: normal;
    width: 100%;
    text-align: left;
  }
  > h3:nth-child(3) {
    border-bottom: solid 2px $bright-blue;
  }
  @media (min-width: 768px) {
    .col-md-10 {
      flex: 0 0 80%;
      max-width: 80%;
    }
    .col-md-2 {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }

  .card.collection-inventory-card.level-1 {
    /*pull them up so first one (with H4) coincides with h3 underline*/
    margin-bottom: 2.2rem;
    border: none;
    > .card-body {
      padding-top: 0;
      padding: 0;
      border: none;
      > .card-title > .row {
        > .col-sm-9.col-md-10 {
          flex: 0 0 100%;
          max-width: 100%;
        }
        > .col-sm-9.col-md-10 + div.col-sm-3.col-md-2 {
          position: relative;
          top: -3rem;
          left: 83%;
          margin-bottom: -2.5rem;
        }
      }
      > .card-records {
        padding: 1rem 2rem 2rem;
        border: solid 2px $bright-blue;
        margin-top: -.2rem;
      }
      > .card.collection-inventory-card.level-1 > .card-body > .card-records > .card.collection-inventory-card.level-2 > .card-body > .card-title > .row {
        @media (min-width: 768px) {
          > .col-sm-9.col-md-10 {
            flex: 0 0 80%;
            max-width: 80%;
          }
          > .col-sm-3.col-md-2 {
            flex: 0 0 20%;
            max-width: 20%;
          }
        }
      }
    }
  }
  /*Top block level is h4*/
  .collection-inventory-card {
    &.level-1 {
      &.end-collection {
        margin-top: 0;
        border: none;
        &.dark {
          background: #f0f0f0;
        }
        &.light {
          background-image: none;
        }
        > .card-body {
          background-image: none;
          padding: .9rem .4rem .9rem .9rem;
          > .card-title {
            margin-bottom: 0;
          }
        }
      }
      h4 {
        margin: 0 -.1rem;
        button.collapsable-toggle,
        button.collapsable-toggle.btn-light:hover,
        button.collapsable-toggle:visited {
          background-color: $bright-blue !important;
          border: none;
          color: #fff;
          padding: 2.8rem 2rem 3rem 3.9rem;
          font-family: $title-sans;
          font-size: 1.5rem;
          font-weight: normal;
          width: 100%;
          text-align: left;
          text-decoration: none;
          @media (min-width: 400px) {
            font-size: 2rem;
          }
          @media (min-width: 500px) {
            font-size: 2.3rem;
          }
          &::after {
            content: "";
            display:none;
          }
          &::before {
            float: left;
            transform: rotate(90deg);
            transition: transform 0.1s ease;
            content: image-url("collapsearrow-right-fff.svg");
            height: 2.3rem;
            width: 2.3rem;
            margin-right: 1.4rem;
            position: relative;
            top: .2rem;
            @media (min-width: 500px) {
              top: .8rem;
            }
          }
          &.collapsed {
            background-color: transparent !important;
            border-bottom: solid 2px $bright-blue;
            color: #000;
            &::before {
              transform: rotate(0deg);
              content: image-url("collapsearrow-right-000.svg");
              top: .2rem;
            }
          }
        }
      }
    }
    /*h5 light blue block.*/
    &.level-2 {
      margin-top: 2rem;
      box-shadow: none;
      background-image: image-url("light-blue.gif");
      background-size: 100% 7rem;
      background-repeat: no-repeat;
      border: solid 1px #bbb;

      > div.card-body {
        padding: 2rem;
      }
      &.has-collapsed {
        background-image: none !important;
        border: none;
        margin-top: 0;
        > div.card-body {
          padding: 1.25rem 1.25rem 0 1.25rem;
        }
      }
      &.end-collection {
        margin-top: 0;
        border: none;
        &.dark {
          background: #f0f0f0;
        }
        &.light {
          background-image: none;
        }
        > .card-body {
          background-image: none;
          padding: .9rem .4rem .9rem .9rem;
          > .card-title {
            margin-bottom: 0;
          }
        }
      }
      > div.card-body {
        h5 {
          button.collapsable-toggle,
          button.collapsable-toggle.btn-light:hover,
          button.collapsable-toggle:visited {
            margin: -1.2rem 0 0 -1.5rem;
            background: transparent;
            color: #000;
            font-family: $title-sans;
            font-size: 1.5rem;
            font-weight: normal;
            width: 100%;
            text-align: left;
            text-decoration: none;
            padding: 1.8rem 2rem 2rem 1.5rem;
            @media (min-width: 400px) {
              font-size: 1.5rem;
            }
            @media (min-width: 500px) {
              font-size: 1.8rem;
            }
            @media (min-width: 768px) {
              padding: 1.8rem 2rem 2rem 3.9rem;
            }
            &::after {
              content: "";
              display:none;
            }
            &::before {
              float: left;
              transform: rotate(90deg);
              transition: transform 0.1s ease;
              content: image-url("collapsearrow-right-000.svg");
              height: 1.8rem;
              width: 1.8rem;
              margin-right: 1.4rem;
              position: relative;
              top: .2rem;
              @media (min-width: 500px) {
                top: .5rem;
              }
            }
            &.collapsed {
              border: none;
              border-bottom: solid 1px #bbb;
              background-color: transparent !important;
              color: #000;
              &::before {
                transform: rotate(0deg);
                content: image-url("collapsearrow-right-000.svg");
                top: .2rem;
              }
            }
            &.btn-light:not(:disabled):not(.disabled):active,
            &.btn-light.active:not(:disabled):not(.disabled),
            &.btn-light:focus,
            &.btn-light.focus {
              border: dotted 1px #00f;
              box-shadow: none;
              transition: none;
            }
            &.btn-light:visited {
              border: none;
            }
          }
        }
        > .card-records.show {
          margin-top: 2rem;
          margin: 0;
          padding: 2rem 1.5rem .5rem 1.5rem;
          border-top: none;
        }
      }
    }
    &.level-4,
    &.level-5 {
      .card-body {
        padding-right: 0;
      }
    }
    &.level-3,
    &.level-4,
    &.level-5 {
      &.card {
        border: none;
      }
      &.end-collection {
        border: none !important;
        &.dark {
          background: #f0f0f0 !important;
        }
      }
      &:nth-child(1)  {
        h6, h7, h8 {
          margin-top: -1.5rem
        }
      }
      /*good test: border: solid 1px #f00 !important;*/
      h6, h7, h8 {
        button.collapsable-toggle {
          background-color: transparent;
          color: #000;
          padding: 0 2rem 1rem 4.4rem;
          font-family: $title-sans;
          font-size: 1.5rem;
          width: 100%;
          text-align: left;
          font-weight: bold;
          margin: 0 0 1rem 0;
          @media (min-width: 400px) {
            font-size: 1.5rem;
          }
          @media (min-width: 500px) {
            font-size: 1.5rem;
          }
          &::after {
            content: "";
            display:none;
          }
          &::before {
            float: left;
            transform: rotate(90deg);
            transition: transform 0.1s ease;
            content: image-url("collapsearrow-right-000.svg");
            height: 1.5rem;
            width: 1.5rem;
            margin-right: 1.4rem;
            position: relative;
            top: .2rem;
            @media (min-width: 500px) {
              top: .4rem !important;
            }
          }
          &.collapsed {
            background-color: transparent;
            border-bottom: solid 1px #bbb;
            color: #000;
            font-weight: normal;
            margin: -1.5rem 0 0 0;
            padding-bottom: 1.5rem;
            &::before {
              transform: rotate(0deg);
              content: image-url("collapsearrow-right-000.svg");
              top: .2rem !important;
            }
          }
        }
      }
    }
  }
}

@media print {
  header.sitebrand,
  footer,
  .show-page-links,
  #sortAndPerPage .search-widgets,
  .catalog_startOverLink,
  .hplinks {
    display: none;
  }
  .collapse:not(.show) {
    display: block;
  }
  #facets .panel-collapse.facet-content.collapse {
    display: none;
  }
  #overview h3,
  h3,
  #inventory .collection-inventory-card.level-1 h4,
  .collection-inventory-card.level-1 h4 {
    button.collapsable-toggle,
    button.collapsable-toggle.btn-light:hover,
    button.collapsable-toggle:visited {
      background-color: transparent !important;
      color: #000;
      border: solid 2px $bright-blue;
      &.collapsed {
        background-color: transparent !important;
        border: solid 2px $bright-blue;
        color: #000;
      }
      &:before {
        content: "" !important;
      }
    }
  }
  .collection-inventory-card.level-2 {
    border: solid 1px #aaa;
    &.has-collapsed {
      border: solid 1px #aaa;
    }
    &.end-collection {
      margin-top: 0;
      border: none;
    }
  }
  #submit-request {
    display: none;
  }
  label.custom-control-label {
    display: none;
  }
  .custom-control-input:checked ~ .custom-control-label {
    display: inline-block;
  }
}
