@import "_variables";
@import "_mixins";
// adapted from Blacklight's _bootstrap_overrides.scss .facet_field_heading
html {
  font-size: 62.5%;
}
body, .btn {
  font-size: $font-size-base;
}
body {
  font-family: $body-sans;
  line-height: 1.6;
}
/*container*/
.container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 150rem;
  @media (min-width: 1200px) {
    padding-right: 3rem;
    padding-left: 3rem;
  }

$font-size-base:              1.6rem !default;

/*reusable*/
.collapsable-toggle {
  &::after {
    content: "❯";
    float: right;
    transform: rotate(270deg);
    transition: transform 0.1s ease;
  }

  &.collapsed {
    &::after {
      transform: rotate(90deg);
      transition: transform 0.1s ease;
    }
  }
}

// Styling for collection inventory cards
.collection-inventory-card {
  .card-title {
    margin-bottom: 0rem;
  }

  &.end-collection {
    border-radius: 0;
    border: 0;

    &.dark {
      background-color: #f8f9fa; // Should be using a CSS/SCSS variable here.
    }

    .card-body {
      padding: .75rem;
    }
  }
}

.collection-inventory-card.end-collection {
  border-radius: 0
}

/*facets*/
@media (min-width: 992px) {
  section#content.col-lg-9 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  section#sidebar.page-sidebar.col-lg-3 {
    flex: 0 0 30%;
    max-width: 30%;
  }
}
@media (min-width: 1200px) {
  section#content.col-lg-9 {
    flex: 0 0 72%;
    max-width: 72%;
  }
  section#sidebar.page-sidebar.col-lg-3 {
    flex: 0 0 27%;
    max-width: 27%;
  }
}

.facet-limit {
  margin-bottom: 1.6rem;
}
.facet-field-heading {
  border-bottom: 0;

  button.btn,
  button.btn.p-2 {
    font-weight: normal;
    padding: .8rem .4rem .8rem 0 !important;
    &::before {
      content: "❯";
      float: left;
      transform: rotate(90deg);
      display:block;
      height: 2.4rem;
      width: 3rem;
      position: relative;
      top: .75rem;
      padding: 0 1rem 0 .5rem;
      left: 0;
    }
    &::after {
      content: "";
    }

    &.collapsed {
      border-bottom: 0;
      &::before {
        transform: rotate(0deg);
        transition: transform 0.1s ease;
        width: auto;
        padding: 0 1.8rem 0 .5rem;
        top: -.1rem;
        left: .6rem;
      }
      &::after {
        content: "";
      }
    }
  }
}

.visually-hidden {
    @include visually-hidden;
}
.bg-light {
  background-color: $light-blue!important;
}
.btn-primary {
  background-color: $button-color;
  border-color: $button-color;
}
.no-list-style {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
/*header*/
header.sitebrand {
  background: $navy;
  color: #fff;

  padding: 2rem;
  @media (min-width: 768px) {
    padding: 3rem;
  }
  @media (min-width: 992px) {
    padding: 4.2rem 3rem;
  }

  .sitename {
    font-family: $title-serif;
    text-align: center;
    font-size: 2.8rem;
    @media (min-width: 600px) {
      font-size: 3.2rem;
    }
    @media (min-width: 992px) {
      font-size: 4.35rem;
    }
  }
}
/*search*/
.navbar-search.navbar {
  padding: 3rem 2rem;
}
.search-query-form {
  margin: 0 auto;
}
.input-group > .input-group-append > .btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: .375rem .8rem .375rem 1rem;
}
input#q.search-q.q.form-control.rounded-left {
  height: 4.1rem;
  border-top-left-radius: 4px!important;
  border-bottom-left-radius: 4px!important;
  font-size: 1.6rem;
}
.submit-search-text {
  @include visually-hidden;
}
/*footer*/
footer {
  background: $navy;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: .09rem;
  color: #fff;
  line-height: 1.6;
  .footerliner {
    max-width: 150rem;
    margin: 0 auto;
    padding-top: 1.5rem;
    @media (min-width: 992px) {
      padding-top: 0;
    }
  }
  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  .delivered {
    font-style: oblique;
  }
  .logo {
    display: block;
    margin-top: .5rem;
    img {
      width: 21.7rem;
    }
  }
  .copyright {
    margin-top: 3.6rem;
  }
  .vlist {
    padding: 1.5rem 3rem;
    @media (min-width: 576px) {
      width: 49.5%;
      float: left;
      padding: 1.5rem 3rem;
    }
    @media (min-width: 992px) {

      width: 23.5%;
      padding: 3rem;
      &.branding {
        width: 27.5%;
      }
    }

    @media (min-width: 1200px) {
      padding: 3rem;
    }
    a {
      text-transform: uppercase;
    }
    li {
      margin-top: 1.3rem;
    }
  }
  .hlist {
    border-top: solid 1px #bbbfcf;

    margin: 0 3rem;
    padding: 3rem 0;
    @media (min-width: 576px) {
      height: 11.5rem;
    }
    @media (min-width: 768px) {
      height: 7.5rem;
    }
    li {
      padding: 1rem 3rem 0 0;
      @media (min-width: 576px) {
        float: left;
        width: 49.5%;
        padding: 0 3rem;
        &:first-child {
          padding-left: 0;
        }
        &.acc {
          width: 100%;
          padding: 1rem 3rem 0 0;
        }

      }
      @media (min-width: 768px) {
        width: auto;
        padding: 0 3rem;
        &.acc {
          width: auto;
          padding: 0 3rem;
        }
      }
    }
  }
}
/*homepage*/
.hptitle {
  font-family: $title-serif;
  text-align: center;
  font-size: 3rem;
}
.navbar + .container {
  padding-top: 5.1rem !important;
}
.hpcontent {
  padding-top: 2rem;
}
.hplinks {
  margin-top: 4rem;
  li {
    float: left;
    text-transform: uppercase;
    width: 36%;
    &.all {
      width: 28%;
    }
  }
}
/*results*/
