<h1 class="hptitle"><%= t('homepage.header') %></h1>
<h2 class="visually-hidden">Main content</h2>
<div class="hpcontent">
  <p>
  This Philadelphia Area Archival Research Portal (PAARP), formerly the PACSCL Finding Aids Site, provides access
  to descriptions of more than 5,000 collections from over 200 regional institutions documenting the region's vital
  role in our collective history, from colonization to the present day, from the everyday citizen to some of America's
  best known thinkers and celebrated citizens. On this site, researchers will find catalog descriptions, or "finding
  aids," to collections relating to local, national, and world history; the natural and social sciences; medicine;
  literature; religion; art and architecture; business and industry; the performing arts; and other topics.
</p>

<p>
  Searchable by creator, topic, repository, and keyword, this diverse and ever-growing group of finding aids is an
  ideal starting point for researchers to discover related collections across more than 200 regional repositories,
  large and small.
</p>
</div>

<ul class="hplinks no-list-style clearfix">
   <li class="how-to"><%= link_to t('homepage.links.how_to'), "https://www.library.upenn.edu/paarp/how-to-use-paarp-site" %></li>
   <li class="browse-rep"><%= link_to t('homepage.links.browse_repositories'), repositories_path %></li>
   <li class="all"><%= link_to t('homepage.links.see_all'), search_catalog_path(search_field: 'all_fields', q: '') %></li>
</ul>
