<h3>Administrative Information</h3>
<% SolrDocument::ParsedEad::ADMIN_INFO_SECTIONS.each do |section| %>
  <%= render AdditionalInformationComponent.new title: t(section, scope: :sections), nodes: document.parsed_ead.try(section) %>
<% end %>

<h3>Other Information</h3>
<% SolrDocument::ParsedEad::OTHER_SECTIONS.each do |section| %>
  <%= render AdditionalInformationComponent.new title: t(section, scope: :sections), nodes: document.parsed_ead.try(section) %>
<% end %>

<%= render(CollectionsInventoryComponent.new(
  node: document.parsed_ead.dsc,
  requestable: document.requestable?,
  requesting_info: document.requesting_info
)) %>
