<p>
  <i>
    This is a finding aid. It is a description of archival material held at the <b><%= document[:repository_ssi] %></b>.
    Unless otherwise noted, the materials described below are physically available in their reading room, and not
    digitally available through the web.
  </i>
</p>
