---
finding_aid_discovery_build_docker_image: false
finding_aid_discovery_docker_image: "finding_aid_discovery"
finding_aid_discovery_docker_image_tag: "{{ image_tag }}"
finding_aid_discovery_rails_env: "production"
finding_aid_discovery_replicas: 3
finding_aid_discovery_solr_url: "http://finaid-prod01.library.upenn.int/solr/finding-aid-discovery"
finding_aid_discovery_url: "findingaids.library.upenn.edu"

# See roles/finding_aid_discovery/defaults.main.yml
#finding_aid_discovery_versioned_secrets:
