<pennlibs-feedback></pennlibs-feedback>

<pennlibs-footer show-built-with>
  <section>
    <h2><%= t('footer.nav.heading') %></h2>
    <%= link_to t('footer.nav.home'), root_path %>
    <%= link_to t('footer.nav.about'), about_path %>
    <% if user %>
      <%= link_to t('footer.nav.admin'), admin_path %>
    <% end %>
  </section>
</pennlibs-footer>
